params{
    output_directory = null
    hgnc_ens = "${baseDir}/data/hgncid_name_ens.txt"
    gencode = null
    mito_name_hg38 = "chrM"
    human_annotation = null
    cat_gff3 = null
    excl_contigs = null
    rename_contigs = null
    drop_denovo = false
    cat_fasta = null
    hg38_fasta = null
    cat_mito = "chrM"
    scavenge_ensembl = false
    ens_id = null
    ens_gtf = null
    ens_fasta = null
    ucsc_fasta = null
    ens_chain = null
    gene_name = "Name"
    gene_id = "gene_id"

}

manifest{
    homePage = "https://github.com/nkschaefer/litterbox"
    author = "Nathan Schaefer"
}

process{
    beforeScript = 'if [ "$CONDA_PREFIX" == "" ]; then conda init && conda activate litterbox; elif [ $( echo "$CONDA_PREFIX" | grep litterbox | wc -l ) -eq 0 ]; then conda deactivate && conda activate litterbox; fi'
}
